<nav id="navs" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">Employee Self Service</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#/karyawan"><span class="glyphicon glyphicon-user"></span> Profil</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-calendar"></span> Cuti<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/reqcuti"><span class="glyphicon glyphicon-bookmark"></span> Permohonan Cuti</a></li>
                        <li><a href="#/hiscuti"><span class="glyphicon glyphicon-briefcase"></span> Histori Cuti</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#/slip"><span class="glyphicon glyphicon-envelope"></span> Slip Gaji</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-cog"></span> Akun<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/reqpass"><span class="glyphicon glyphicon-edit"></span> Ubah Password</a></li>
                        <li><a href="#/out"><span class="glyphicon glyphicon-log-out"></span> Keluar</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container" style="padding-top: 70px;">
    asas
</div>